.popup {
  display: flex;
  flex-direction: column;
  position: fixed; /* Menggunakan posisi tetap agar popup tetap berada di tengah */
  top: 50%; /* Membuat popup berada di tengah secara vertikal */
  left: 50%; /* Membuat popup berada di tengah secara horizontal */
  transform: translate(
    -50%,
    -50%
  ); /* Menggeser popup ke tengah menggunakan transform */
  width: 420px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Menggunakan rgba untuk memberikan opasitas */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Menentukan tumpukan z-index agar popup selalu tampil di atas konten lain */
  padding: 8px;
}

/* Tambahan CSS untuk membuat judul dan tombol berada di tengah */
.title,
.form,
.button {
  margin: 0 auto; /* Membuat elemen berada di tengah */
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 16px;
  color: #404040;
  width: 340px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 372px;
  height: 36px;

  border: 2px solid #e0e0e0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.input::placeholder {
  color: #999; /* Warna teks placeholder */
  font-size: 14px;
  padding: 16px; /* Ukuran font placeholder */
  /* Properti lainnya sesuai kebutuhan */
}

.inputProgress {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 143px;
  height: 36px;

  border: 2px solid #e0e0e0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.label {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.buttonCencel {
  width: 76px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1d1f20;
}

.buttonSave {
  width: 150px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1d1f20;
}
