:root {
  --grup1-background: #f7feff;
  --grup1-border: 1px solid #01959f;
  --grup2-background: #fffcf5;
  --grup2-border: 1px solid #feeabc;
  --grup3-background: #fffafa;
  --grup3-border: 1px solid #f5b1b7;
  --grup4-background: #f8fbf9;
  --grup4-border: 1px solid #b8dbca;
  --color1: #01959f;
  --color2: #fa9810;
  --color3: #e11428;
  --color4: #43936c;
  --taskgrup-background: #fafafa;
  --taskgrup-border: 1px solid #e0e0e0;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
  /* Sesuaikan URL dengan link font yang sesuai dari Google Fonts */
}

/* Seluruh komponen menggunakan font Nunito Sans */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: "Nunito Sans", sans-serif;
}

/* Atau jika ingin menerapkan ke semua elemen */
* {
  font-family: "Nunito Sans", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
