.container {
  max-width: inherit;
  width: 92%;

  background-color: var(--taskgrup-background);
  border: var(--taskgrup-border);
  padding: 8px 16px;
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 16px;
  color: #404040;
}

.noTask {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 16px;
  color: #757575; /* Atur gaya untuk "No Task" */
}

/* end task card */

.progressContainer {
  display: flex;
  align-items: center;
  max-width: inherit;
  width: 195px;
  height: 16px;
  background-color: #ededed;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* TaskCard.module.css */
.progress {
  height: 16px;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}

.progress.rounded {
  border-radius: 8px; /* Radius 8px untuk keseluruhan progress */
}

.progress.incomplete {
  border-radius: 8px 0 0 8px;

  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}
.icon {
  display: flex;
}
.progressBar {
  display: flex;
  align-items: center;
  margin: 16px;
  gap: 12px;
  max-width: 311px;
  width: 90%;
  /* background-color: aqua; */
}

.progressIncomplete {
  background-color: #01959f;
}

.progressComplete {
  background-color: #43936c;
}
