.container {
  max-width: inherit;
  width: 92%;
  position: relative;

  background-color: var(--taskgrup-background);
  border: var(--taskgrup-border);
  padding: 8px 16px;
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 16px;
  color: #404040;
}

.noTask {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 16px;
  color: #757575; /* Atur gaya untuk "No Task" */
}

/* end task card */

.progressContainer {
  display: flex;
  align-items: center;
  max-width: inherit;
  width: 195px;
  height: 16px;
  background-color: #ededed;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* TaskCard.module.css */
.progress {
  height: 16px;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}

.progress.rounded {
  border-radius: 8px; /* Radius 8px untuk keseluruhan progress */
}

.progress.incomplete {
  border-radius: 8px 0 0 8px;

  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}
.icon {
  display: flex;
}
.progressBar {
  display: flex;
  align-items: center;

  gap: 12px;
  padding: 16px 0px 16px 16px;

  /* background-color: aqua; */
}

.progressIncomplete {
  background-color: #01959f;
}

.progressComplete {
  background-color: #43936c;
}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute; /* Ganti posisi menjadi absolut */
  top: 120px;
  left: 280px;
  width: 320px;
  /* height: 160px; */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Menentukan tumpukan z-index agar popup selalu tampil di atas konten lain */
  padding: 8px;
}

.containerMenu {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  gap: 16px;
}

.linkMenu {
  text-decoration: none;
}

.textMenu {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 6px;
  line-height: 24px;
  /* background-color: yellow; */
  color: #333333;
}

.textMenuD {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 6px;
  line-height: 24px;
  /* background-color: yellow; */
  color: #333333;
}

.textMenu:hover {
  color: #01959f; /* Ganti dengan warna yang diinginkan saat hover */
}

.textMenuD:hover {
  color: #e11428; /* Ganti dengan warna yang diinginkan saat hover */
}
.iconMenu svg path {
  fill: #333333; /* Warna default untuk ikon */
  transition: fill 0.3s;
}

.containerMenu:hover .iconMenu svg path {
  stroke: #01959f;
}

.containerMenu:hover .iconMenuD svg path {
  stroke: #e11428;
}

.iconMenu {
  display: flex;
  align-items: center;
  padding: 6px;
  width: 12px;
  height: 12.01px;
}
