.nav {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
.logo {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  padding: 18px 20px;
}
